@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Rubik:wght@500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    font-family: 'Outfit', sans-serif;

}

body {
    background-color: #E6E6E6;
}


#szo_sec {
    margin: auto;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;

    font-size: 30px;
    letter-spacing: 7.5px;
    text-align: center;
}

#kep_sec {
    text-align: center;
}

.betu_div {
    margin: auto;
    text-align: center;
    border: 2px solid lightblue;
    border-radius: 12px;
    width: 40%;
    margin: auto;
    margin-top: 10vh;
    background-color: #3D56B2;
    padding: 10px;
}

#betu_sec button {
    margin: 4px;
}

img {
    width: 50vh;
}

.betu {
    background-color: #E6E6E6;
    border: 1px solid lightblue;
    border-radius: 15%;
    padding: 5px;
    width: 30px;
    box-shadow: 0 6px #999;
    transition: 0.15s;
}

.betu:hover {

    color: #14279B ;
    border-color: #14279B;
    width: 30px;
    letter-spacing:2px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}

.betu:active {
  color: white ;
  background-color: #14279B;

  transform: translateY(4px);
}


.hrtop {
    width: 90%;
}
#kszd{
  background-color: red;
  position: absolute;
  border: 1px solid lightblue;
}
