@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Rubik:wght@500&display=swap');
 body{
   background-color: #E6E6E6;
   font-size: 50px;
   margin-top: 5vh;
 }

.opcio{
  font-size: 40px;
}

label{
  margin-bottom: 5px;
}

option{
  font-size: 20px;
}
select{
    width: 20vw;
    height: 7.5vh;
    font-size: 26px;
    outline: 0;
    border: 0;
    background: lightblue;
    border-radius: 15px;
    padding: 7.5px;
}

#start{
  text-align: center;
  margin-bottom: 1.5%;
  background-color: #3D56B2;
  border: 4px solid lightblue;
  border-radius: 15px;
  color: #E6E6E6;
  width: 30vw;
  height: 10vh;
  font-size: 35px;
  letter-spacing: 1px;
  opacity: 0.86;
  transition: 0.2s;
  box-shadow: 0 10px #999;
}

#start:hover{
  width: 32vw;
  height: 11vh;
  cursor: pointer;
  background-color: #5C7AEA;
  letter-spacing:2px;
  opacity: 1;
}
#start:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.beallitas {
  text-align: center;
  top: 0;
  right: 25%;
  top:   25%;
  font-size: 25px;
  left: 50%;
  width: auto;
}
