table {
  margin: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1 {
  text-align: center;
  font-size: 32px;
}
button {
  text-align: center;
  font-size: 15px;
  border: none;
  background: none;
  color: #3e8e41;
}

button:hover {
  font-size: 17px;
}

.csatlakozas {
  text-align: center;
}